@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);
* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu Mono";
    box-sizing: border-box;
}
p, b, i, u, h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu Mono";
}
body {
    color: azure;
    background-color: rgb(50, 50, 50);
}
#nav-bar {
    z-index: 999;
    position: fixed;
    color: azure;
    top: 0;
    height: 5%;
}
#nav-bar ul {
    font-size: 170%;
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    text-decoration: none;
    list-style: none;
}
#nav-bar li {
    float: right;
    text-decoration: none;
}
#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .2s ease;
}
#nav-bar li a:hover {
    transform: scale(0.9);
}
.slideshow-div {
    height: 100vh;
    max-width: 100vw;
    position: relative;
    margin: auto;
}
.slideshow {
    height: auto;
}
.slideshow-slide {
    display: none;
}
.slideshow-slide-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.slideshow-slide-number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slideshow-slide img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
#gallery-container {
    /* display: inline-block; */
    width: 100%;
    /*border: 2px solid red;*/
}
#gallery-left {
    text-align: center;
    width: 40%;
    float: left;
    height: 300vh;
    /*border: 2px dashed greenyellow;*/
}
#gallery-left #table {
    box-shadow: -3px 6px 0px 2px rgb(30, 30, 30);
    display: block;
    top: 10%;
    margin-top: 10%;
    position: sticky;
    padding: 1%;
    background-color: rgb(35, 35, 35);
    height: 80vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#gallery-left #table div {
    display: block;
    flex-direction: column;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    float: left;
    font-size: x-large;
    margin-left: 3%;
    transition: all .2s ease-in-out;
}
#gallery-left #table div:hover {
    box-shadow: -1.5px 6px 0px 2px rgb(80, 80, 80);
    transform: translate(2px, -2px);
    background-color: rgb(50, 50, 50);
}
#gallery-right {
    width: 60%;
    float: right;
    height: 300vh;
    /*border: 2px dotted blue;*/
}
.gallery-collection {
    cursor: zoom-in;
    background-size: cover;
    padding: 20%;
    margin: 5%;
    /*border: 5px dotted magenta;*/
    opacity: 80%;
    filter: blur(1px) grayscale(40%);
    transition: all .3s ease;
}
.gallery-collection #name {
    filter: blur(0px);
}
#gc1 {
    background-image: url("media/img1.jpg");
}
#gc2 {
    background-image: url("media/jup1.jpg");
}
#gc3 {
    background-image: url("media/sat1.jpg");
}
#gc4 {
    background-image: url("media/stars1.jpg");
}
.gallery-collection:hover {
    box-shadow: 0px 0px 30px 20px rgb(30, 30, 30);
    filter: blur(0px) grayscale(0%);
    opacity: 100%;
}

/* Fading animations */
.fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
}
@keyframes fade-in {
    from {opacity: .4}
    to {opacity: 1}
}
.fade-out {
    animation-name: fade-out;
    animation-duration: 2s;
}
@keyframes fade-out {
    from {opacity: 1}
    to {opacity: .4}
}
